.env
.mypy_cache/
venv/
__pycache__
docker_info/
!docker_info/nats/config/server.conf
.idea
messages_service/app/static/*
messages_service/venv/*
auth_service/venv/*
auth_service/app/logs*
messages_service/app/logs/*
